/* 
COLORS 
*/

$background : linear-gradient(#6300EC, #3F0D83);


/* 
TYPOGRAPHY 
*/

@font-face {
    font-family: 'Rift Demi';
    src: url('../fonts/Rift-Demi.woff2') format('woff2'),
        url('../fonts/Rift-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// big title
h1, h2, p {
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 60px;
    margin: 0;
}

h2{
    font-size: 30px;
}

// main text
p {
    color: white;
}

// button
h6 {
    font-family: 'Rift Demi';
    letter-spacing: 2px;
    color: black;
}

/* 
RESPONSIVE 
*/
// Responsive Iphone X
@media only screen and (device-width : 375px) and (device-height : 812px) {
    body {
        background: $background;
        margin: 0;
        padding: 40px;
    }
    // Header
    .welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        // background: blue;
        &_title{
            display: flex;
            justify-content: space-around;
            width: 90%;
            height: 10%;
            margin-bottom: 20px;
            // background: red;
        }
        &_line{
            margin-top: 10px;
            width: 30px;
            border-bottom: solid white 1px;
        }
        &_picture{
            margin: 50px 0px 40px 0px;
        }
        &_description{
            text-align: left;
        }
        &_slider{
            display: flex;
            width: 100%;
            height: 15%;
            justify-content: center;
            align-items: center;
            // background: pink;
            &_1,&_2,&_3{
                margin: 6px;
                width: 9px;
                height: 9px;
                border-radius: 100%;
                background: rgba(0, 0, 0, 0.171);
            }
            &_1{
                background: white;
            }
        }
        &_button{
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 20px;
            box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
        }
    }
}